<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Booker Test Suite">
    <test name="Smoke Booker Tests">
        <classes>
            <class name="testCases.BookingSmokeTests">
                <methods>
                    <include name="smokeTestFullLifeCycle"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
